{{ $last := sub (len .Params.contributors) 1 }}
<p>
    <small>Posted {{ .PublishDate.Format "Jan 2, 2006" }} by 
        {{ if .Params.contributors -}}
                    {{ range $index, $contributor := .Params.contributors }}
        {{ if gt $index 0 }}
            {{ if eq $index $last }} and {{ else }}, {{ end }}{{ end }}
    <a class="stretched-link position-relative" href="{{"/contributors/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
    <!-- &nbsp;&hyphen;&nbsp; -->
    <!-- <strong>{{ .ReadingTime -}}&nbsp;min read</strong>  -->
        <!-- &nbsp; -->
        {{ if .Params.cycleofdata -}} on Data {{ range $index, $cycleofdata := .Params.cycleofdata }}
        {{ if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end }} 
        <a class="stretched-link position-relative" href="{{"/cycleofdata/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
        <!-- &nbsp; -->
        {{ if .Params.programlang -}} using {{ range $index, $programlang := .Params.programlang }}
        {{ if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end }} 
        <a class="stretched-link position-relative" href="{{"/programlang/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
    
    </small>
<p>